<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Nutrify Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>

<div class="wrapper">
	<header>
		<h1>Signup</h1>
	</header>
	<main>
		<form action="" method="POST">
            {% csrf_token %}
            <div class="input-block">
				<div class="input-group">
					<label for="email">Username</label>
					{{form.username}}
				</div>
			</div>
			<div class="input-block">
				<div class="input-group">
					<label for="email">E-Mail</label>
                    {{form.email}}
				</div>
			</div>
			<div class="input-block">
				<div class="input-group">
					<label for="password">Choose Password</label>
                    {{form.password1}}
				</div>
				<div class="input-group">
					<label for="confirmation">Confirm Password</label>
					{{form.password2}}
				</div>
			</div>
			<input type="submit" value="Join now" />
		</form>
	</main>
	<footer>
		<a href="{% url 'login' %}">I already have an account</a>
	</footer>
</div>
<!-- partial -->


</body>
</html>
