@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900");
*, *:after, *:before {
  box-sizing: border-box;
}

::-moz-selection {
  background: #212121;
  color: gold;
}

::selection {
  background: #212121;
  color: gold;
}

body {
  font-family: "Playfair Display";
}

.wrapper {
  max-width: 560px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;
}

a {
  color: #999;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 3rem;
}
@media screen and (min-width: 500px) {
  h1 {
    font-size: 5rem;
  }
}

p.lead {
  font-size: 1.5rem;
}
@media screen and (min-width: 500px) {
  p.lead {
    width: 66%;
    align-self: flex-end;
  }
}

.input-block {
  margin-bottom: 2rem;
}
.input-block .input-group {
  margin-bottom: 1rem;
}
@media screen and (min-width: 500px) {
  .input-block .input-group {
    display: flex;
    align-items: center;
  }
}
.input-block .input-group label {
  vertical-align: bottom;
  display: block;
  color: #999;
}
@media screen and (min-width: 500px) {
  .input-block .input-group label {
    width: 33%;
    text-align: right;
    padding-right: 1rem;
  }
}
.input-block .input-group input {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  color: inherit;
  border: 0;
  border-bottom: 1px solid #dadada;
  padding: 0.5rem 1rem 0.5rem 0;
}
@media screen and (min-width: 500px) {
  .input-block .input-group input {
    width: 66%;
  }
}
.input-block .input-group input:focus {
  outline: none;
  border-color: black;
}

input[type=submit] {
  display: block;
  width: 100%;
  border: 0;
  background: gold;
  font-family: inherit;
  font-weight: 900;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media screen and (min-width: 500px) {
  input[type=submit] {
    margin-left: 33%;
    width: auto;
  }
}
input[type=submit]:hover, input[type=submit]:focus {
  outline: none;
  transform: translatey(-1px);
}
input[type=submit]:active {
  outline: none;
  transform: translatey(0);
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 500px) {
  footer {
    margin-left: 33%;
  }
}

.valid {
  border-color: gold !important;
}

@media screen and (max-width: 450px) {
  label {
    width: 100%;
  }
}